{
  "bracketSpacing": true,
  "singleQuote": true,
  "printWidth": 180,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "tabWidth": 4,
  "useTabs": true,
  "semi": true,
  "proseWrap": "always",
  "endOfLine": "auto"
}
